<app-header></app-header>
<app-menu [selectedRoute]="'orders'"></app-menu>
<div ngClass.gt-sm="desktop-content" style="margin-bottom: 60px;">
  <div *ngIf="ordersSheet else spinnerCard" style="width: 90%; margin: 20px auto;">
    <mat-card>
      <strong style="width: 20%;">Tour {{ordersSheet.turn}}</strong>
      <p style="width: 60%;">
        Points de priorité :
      <mat-slider max="5" min="0" thumbLabel tickInterval="1" [(value)]="ordersSheet.priority" [disabled]="ordersSheet.status != 1" 
          (change)="updatePriority()"></mat-slider></p>
    </mat-card>

    <mat-accordion *ngIf="orders && actionTypes else spinnerCard" cdkDropList
        [cdkDropListData]="orders" (cdkDropListDropped)="drop($event)" [cdkDropListDisabled] = "ordersSheet.status != 1">
      <mat-expansion-panel *ngFor="let order of orders" cdkDrag>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="ordersSheet.status == 1">drag_indicator</mat-icon>
            &nbsp;{{actionTypes[order.actionTypeId].label}}
          </mat-panel-title>
          <mat-panel-description>
            {{order.comment}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{actionTypes[order.actionTypeId].description}}</p>
        <mat-list>
          <mat-list-item *ngFor="let orderInput of actionTypes[order.actionTypeId].form">
            <mat-checkbox *ngIf="orderInput.type == inputType('checkbox')" [checked]='order.parameters[orderInput.label] == "true"'
                [disabled]="ordersSheet.status != 1" (change)="updateCheckbox(order, orderInput.label, $event)">
              <strong>{{orderInput.label}} :</strong> {{orderInput.description}}
            </mat-checkbox>
            <div *ngIf="orderInput.type == inputType('opponent')">
              <mat-form-field appearance="fill">
                <mat-label>{{orderInput.label}}</mat-label>
                <mat-select *ngIf="opponents" [(value)]='order.parameters[orderInput.label]' [disabled]="ordersSheet.status != 1" 
                    (selectionChange)="updateOrder(order)">
                  <mat-option *ngFor="let opponent of opponents" [value]="opponent.id.toString()">{{opponent.name}}</mat-option>
                </mat-select>
              </mat-form-field> &nbsp; {{orderInput.description}}
            </div>
          </mat-list-item>
        </mat-list>
        <mat-action-row>
          <button mat-button color="primary" (click)="removeOrder(order)"><mat-icon>clear</mat-icon>&nbsp;Retirer</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-card *ngIf="orders.length < ordersSheet.maxOrdersCount else submitCard">
        <mat-icon style="vertical-align: middle;">add</mat-icon>
        &nbsp;<strong style="vertical-align: middle;">Ajouter un ordre</strong>&nbsp;
        <mat-form-field appearance="fill" style="width: 50%;">
          <mat-select [(value)]="selectedActionType" [disabled]="ordersSheet.status != 1" (selectionChange)="addOrder()">
            <mat-option *ngFor="let actionType of actionTypes | keyvalue" value="{{actionType.key}}" >{{actionType.value.label}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;{{ordersSheet.maxOrdersCount - orders.length}} restants
      </mat-card>
      <ng-template #submitCard>
        <mat-card *ngIf="ordersSheet.status == 1">
          <mat-card-content style="text-align: center;">
            <button mat-button color="primary" (click)="submitOrdersSheet()"><mat-icon>send</mat-icon>&nbsp;Envoyer</button>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </mat-accordion>
  </div>
  <ng-template #spinnerCard>
    <mat-card class="home-card" ngClass.xs="home-card-mobile">
      <mat-card-header>
        <mat-card-title>Chargement...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-spinner class="full-width" [style.display]="'block'"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>