<app-header></app-header>
<app-menu [selectedRoute]="'home'"></app-menu>
<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <div *ngIf="(game$ | async) as game else spinnerCard" ngClass.gt-sm="desktop-content" 
        fxLayout="row" fxLayout.lt-lg="column" fxLayoutWrap fxLayoutGap="0.5%">
    <div *ngFor="let widget of game.homeWidgets" style="width:100%">
      <div [ngSwitch]="widget">
        <!-- HORLOGE -->
        <div *ngIf="(campaign$ | async) as campaign else spinnerCard">
          <mat-card *ngSwitchCase="'Clock'" class="home-card" ngClass.xs="home-card-mobile">
            <mat-card-header>
              <mat-card-title>Tour n° {{campaign.currentTurn}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <br/>
              <p [ngSwitch]="campaign.currentPhase">
                <strong *ngSwitchCase="0">Pause</strong>
                <strong *ngSwitchCase="1">Lancement du tour</strong>
                <strong *ngSwitchCase="2">Phase de début de tour</strong>
                <strong *ngSwitchCase="3">Phase de milieu de tour</strong>
                <strong *ngSwitchCase="4">Phase de fin de tour</strong>
                <strong *ngSwitchCase="5">Conclusion du tour</strong>
              </p>
              <p *ngIf="campaign.nextPhase">
                <mat-progress-bar mode="determinate" [value]="calculatePhaseProgress(campaign)"></mat-progress-bar>
                <br/>
                Prochaine phase : <strong>{{campaign.nextPhase | date:'EEEE d MMMM, H:mm'}}</strong>
              </p>
              <mat-spinner class="full-width" [style.display]="loadingCampaign ? 'block' : 'none'"></mat-spinner>
            </mat-card-content>
          </mat-card>
        </div>
        
        <!-- INFOS DE JOUEUR -->
        <div *ngIf="(player$ | async) as player else spinnerCard">
          <mat-card *ngSwitchCase="'PlayerInfo'" class="home-card" ngClass.xs="home-card-mobile">
            <mat-card-header>
              <mat-card-title>{{player.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list *ngFor="let category of player.assets | keyvalue">
                <strong>{{category.key}}</strong>
                <mat-list-item *ngFor="let asset of category.value | keyvalue">
                  {{asset.key}}<span *ngIf="asset.value && asset.value != ''"> : <span class='value'>{{asset.value}}</span></span>
                  <br>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
  
        <!-- INFOS DE CAMPAGNE -->
        <div *ngIf="(campaign$ | async) as campaign else spinnerCard">
          <mat-card *ngSwitchCase="'CampaignInfo'" class="home-card" ngClass.xs="home-card-mobile">
            <mat-card-header>
              <mat-card-title>{{campaign.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list *ngFor="let category of campaign.assets | keyvalue">
                <strong>{{category.key}}</strong>
                <mat-list-item *ngFor="let asset of category.value | keyvalue">
                  {{asset.key}}<span *ngIf="asset.value && asset.value != ''"> : <span class='value'>{{asset.value}}</span></span>
                  <br>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinnerCard>
    <mat-card class="home-card" ngClass.xs="home-card-mobile">
      <mat-card-header>
        <mat-card-title>Chargement...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-spinner class="full-width" [style.display]="'block'"></mat-spinner>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>