*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/*
Logs/*
API/bin/*
API/obj/*
Entities/bin/*
Entities/obj/*
.vs/L5aStrat-Earth/DesignTimeBuild/.dtbcache.v2
.vs/L5aStrat-Earth/v16/.suo
.vs/L5aStrat-Earth/v16/.suo
API/bin/Debug/netcoreapp3.1/appsettings.Development.json
API/bin/Debug/netcoreapp3.1/appsettings.json
API/bin/Debug/netcoreapp3.1/Entities.dll
API/bin/Debug/netcoreapp3.1/Entities.pdb
API/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
API/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
API/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
API/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
API/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Entities/bin/Debug/netcoreapp3.1/Entities.deps.json
Entities/bin/Debug/netcoreapp3.1/Entities.dll
Entities/bin/Debug/netcoreapp3.1/Entities.pdb
Entities/obj/Entities.csproj.nuget.dgspec.json
Entities/obj/Entities.csproj.nuget.g.props
Entities/obj/project.assets.json
Entities/obj/project.nuget.cache
Entities/obj/Debug/netcoreapp3.1/Entities.assets.cache
Entities/obj/Debug/netcoreapp3.1/Entities.csproj.CoreCompileInputs.cache
Entities/obj/Debug/netcoreapp3.1/Entities.csproj.FileListAbsolute.txt
Entities/obj/Debug/netcoreapp3.1/Entities.csprojAssemblyReference.cache
Entities/obj/Debug/netcoreapp3.1/Entities.dll
Entities/obj/Debug/netcoreapp3.1/Entities.genruntimeconfig.cache
Entities/obj/Debug/netcoreapp3.1/Entities.pdb
Entities/bin/Debug/netcoreapp3.1/Entities.deps.json
Entities/bin/Debug/netcoreapp3.1/Entities.dll
Entities/bin/Debug/netcoreapp3.1/Entities.pdb
Entities/obj/Entities.csproj.nuget.dgspec.json
Entities/obj/Entities.csproj.nuget.g.props
Entities/obj/project.assets.json
Entities/obj/project.nuget.cache
Entities/obj/Debug/netcoreapp3.1/Entities.assets.cache
Entities/obj/Debug/netcoreapp3.1/Entities.csproj.CoreCompileInputs.cache
Entities/obj/Debug/netcoreapp3.1/Entities.csproj.FileListAbsolute.txt
Entities/obj/Debug/netcoreapp3.1/Entities.csprojAssemblyReference.cache
Entities/obj/Debug/netcoreapp3.1/Entities.dll
Entities/obj/Debug/netcoreapp3.1/Entities.genruntimeconfig.cache
Entities/obj/Debug/netcoreapp3.1/Entities.pdb
