<app-header></app-header>
<app-menu [selectedRoute]="'inbox'"></app-menu>
<div ngClass.gt-sm="desktop-content">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let message of messages" (opened)="message.isRead = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong *ngIf="!message.isRead">{{message.sender}}</strong>
          <span *ngIf="message.isRead">{{message.sender}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon *ngIf="message.isArchived">save</mat-icon>
          <mat-icon *ngIf="!message.isArchived && message.isRead">chat_bubble_outline</mat-icon>              
          <mat-icon *ngIf="!message.isArchived && !message.isRead && message.canAnswer">chat</mat-icon>
          <mat-icon *ngIf="!message.isArchived && !message.isRead && !message.canAnswer">feedback</mat-icon>
          &nbsp;
          <strong *ngIf="!message.isRead">{{message.title}}</strong>
          <span *ngIf="message.isRead">{{message.title}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{message.body}}</p>
      <mat-action-row>
        <button mat-button color="primary" *ngIf="message.canAnswer"><mat-icon>reply</mat-icon>&nbsp;Répondre</button>
        <button mat-button color="primary" *ngIf="message.canAnswer"><mat-icon>reply_all</mat-icon>&nbsp;Répondre à tous</button>
        <button mat-button color="primary" (click)="archive(message)" *ngIf="!message.isArchived"><mat-icon>save</mat-icon>&nbsp;Archiver</button>
        <button mat-button color="primary" (click)="remove(message)"><mat-icon>clear</mat-icon>&nbsp;Supprimer</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>