.desktop-content {
  margin-left: 300px;
}
.mobile-content {
  margin-bottom: 75px;
}
.mat-expansion-panel-header {
  height: auto;
  min-height: 50px;
}
.mat-expansion-panel-header-title {
  margin: auto 8px auto 0px;
}
.orderSheet {
  width: 90%;
  margin: 20px auto;
  max-width: 860px;
}
.mat-list-base .mat-list-item {
  height: auto;
  font-size: 14px;
}
.checkboxDescription {
  margin: 8px;
}
.selectDescription {
  margin: 0 8px 12px
}
.archive-card {
  margin: 20px auto;
  max-width: 150px;
}