<mat-toolbar color="primary" class="navbar" ngClass.lt-md="horizontal" ngClass.xs="mobile">
    <mat-toolbar-row fxLayout="column" fxLayout.lt-md="row">
        <div *ngFor="let item of menuItems" style="width: 100%;">
            <button mat-flat-button color="accent" *ngIf="item.route == selectedRoute">
                {{item.label}}
            </button>
            <button mat-flat-button color="primary" *ngIf="item.route != selectedRoute" (click)="navigateToRoute(item.route)">
                {{item.label}}
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
