.desktop-content {
  margin-left: 300px;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}
.accordion {
  margin: 5%;
}
.panel {
  width: 90%;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-content .panel {
  width: 96%;
}
.new-message {
  max-width: 150px;
  margin: 0 calc(50% - 75px);
}