<app-header></app-header>
<div [ngClass]="{'dark-theme': isDarkTheme | async}">
  <mat-card class="login-card" ngClass.xs="login-card-mobile">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [style.display]="showSpinner ? 'none' : 'block'">
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width login-field">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="full-width login-field">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            <mat-error>{{errorMessage}}</mat-error>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner class="full-width" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>