.desktop-content {
    margin-left: 300px;
}
.mobile-content {
    margin-bottom: 100px;
}
.mapColumn {
    width: calc(80% - 170px);
}
.mapSelector {
    margin: auto;
    max-width: 600px;
}
.mobile-content .mapColumn {
    width: 100%;
}
.mapContainer {
    width: calc(100% - 40px);
    overflow: hidden;
    text-align: center;
    margin: auto;
    border-radius: 1%;
    border: 2px solid black;
    height: 0px;
    padding-bottom: calc(100% - 40px);
}
.mapContent {
    transition: all 1s;
    margin: 0.5%;
}
.mapTileContainer {
    width: 11.11%;
    height: 0px;
    padding-bottom: 11.11%;
    position: relative;
}
.mapTileContent {
    border: 2px solid white;
    border-radius: 10%;
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 90%;
    height: 90%;
}
.mapTileContent.selected {
    border: 2px solid black !important;
}
.mapTileContent:hover {
    border: 2px solid gray !important;
}
.icon {
    width: 50%;
    height: auto;
    padding-top: 25%;
}
.title-card {
    margin: 10% auto;
    width: 285px;
}
.zoom {
    margin: calc(10% + 18px) auto;
    text-align: center;
}
.mobile-content .title-card {
    margin: 80px auto 100px auto;
}
.mobile-content .zoom {
    display: none;
}
.description-card {
    margin: 10% auto;
    width: 285px;
    height: calc(90% - 144px);
    overflow-y: auto;
}
.mobile-content .description-card {
    margin: 0 auto 20px auto;
    height: 200px;
}