.desktop-content {
    margin-left: 300px;
}
.mobile-content {
    margin-bottom: 75px;
}
.mapColumn {
    width: calc(80% - 170px);
}
.mapSelector {
    margin: auto;
    max-width: 600px;
}
.mobile-content .mapColumn {
    width: 100%;
}
.mapContainer {
    width: calc(100% - 40px);
    overflow: hidden;
    text-align: center;
    margin: auto;
    border-radius: 1%;
    border: 2px solid black;
    height: 0px;
    padding-bottom: calc(100% - 40px);
}
.mapContent {
    transition: all 1s;
    margin: 0.5%;
}
.mapTileContainer {
    width: 11.11%;
    height: 0px;
    padding-bottom: 11.11%;
    position: relative;
}
.mapTileContent {
    border: 2px solid transparent;
    border-radius: 10%;
    position: absolute;
    top: 0; 
    bottom: 0;
    width: 90%;
    height: 90%;
}
.mapTileContent.selected {
    border: 2px solid black !important;
}
.selectableTile:hover {
    border: 2px solid gray !important;
    cursor: pointer;
}
@-webkit-keyframes glow {
    to {
         border-color: grey;
    }
}
.selectableParameterTile {
    border: 2px solid transparent;
    -webkit-animation: glow 1s infinite alternate;  
     -webkit-transition: border 0s linear;
       -moz-transition: border 0s linear;
            transition: border 0s linear;
}

.icon {
    width: 50%;
    height: auto;
    padding-top: 25%;
}
.title-card {
    margin: 25% auto;
    width: 285px;
    height: 90px;
}
.mobile-content .title-card {
    margin: 54px auto 72px auto;
}
.mobile-content .zoom {
    display: none;
}
.description-card {
    margin: 10% auto;
    width: 285px;
    height: 80%;
}
.mobile-content .description-card {
    margin: 0 auto 16px auto;
    height: 200px;
}
.description-content {
    margin: 10% auto;
    width: 285px;
    height: calc(100% - 150px);
    overflow-y: auto;
}
.mobile-content .description-content {
    margin: 8px;
    width: 285px;
    height: calc(100% - 92px);
    overflow-y: auto;
}
.mat-form-field {
    margin-bottom: -20px;
}
.mobile-content .mat-list-base {
    padding-top: 0;
}
.mobile-content .mat-list-item {
    font-size: 14px;
}
.mobile-content .selection-card .mat-list-item {
    height: 24px;
}
.mat-card-actions .zoomButton {
    margin: 16px 8px;
}
.mobile-content .mat-card-actions .zoomButton {
    margin: 8px;
}