.desktop-content {
}
.mobile-content {
    margin-bottom: 75px;
}
.campaigns-block {
    width: 450px;
    margin: 50px auto;
}
.campaigns-separator {
    margin-bottom: 50px;
}
.mobile-content .campaigns-block{
    width: 90%;
    margin: 15px auto auto;
    text-align: center;
}
.mat-list-base {
    padding-top: 0;
}
.mat-list-base .mat-list-item {
    font-size: 14px;
    height: 30px;
}
